Data/
models/
Visuals/
*_
equations.*
README.pdf
.ipynb_checkpoints
Article_FranciscoPart.*
exploration/*_
exploration/.ipynb_checkpoints/
TimeSeries_notebook/*_
TimeSeries_notebook/.ipynb_checkpoints/
